* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #f0f0f0;
  padding: 30px;
}

.pixel {
  position: absolute;
  left: 0;
  top: 10px;
  width: 10px;
  height: 10px;
  background: transparent;
  color: #ff0;
  box-shadow: 20px 0px, 100px 0px, 30px 10px, 90px 10px, 40px 20px, 80px 20px,
    30px 30px, 40px 30px, 50px 30px, 60px 30px, 70px 30px, 80px 30px, 90px 30px,
    20px 40px, 30px 40px, 60px 40px, 90px 40px, 100px 40px, 10px 50px, 20px 50px,
    30px 50px, 40px 50px, 50px 50px, 60px 50px, 70px 50px, 80px 50px, 90px 50px,
    100px 50px, 110px 50px, 10px 60px, 30px 60px, 40px 60px, 50px 60px,
    60px 60px, 70px 60px, 80px 60px, 90px 60px, 110px 60px, 10px 70px, 30px 70px,
    90px 70px, 110px 70px, 10px 80px, 40px 80px, 50px 80px, 70px 80px, 80px 80px,
    110px 80px;
}

.hero-header {
  height: 95vh;
  background: linear-gradient(to right bottom, #00000010, #0202028c),
    url(https://i.pinimg.com/originals/6a/fa/8e/6afa8e23162291ad8e594c36c5b262c0.gif);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.hero-content {
  top: 25%;
  left: 25%;
  width: 50%;
  position: absolute;
  text-align: center;
  margin: 0 auto;
}
.hero-text {
}
.photo > img {
  width: 20%;
  border-radius: 20px;
}
section {
  margin-top: 20px;
  font-size: 1.5em;
  color: black;
}
.section-main {
  padding: 20px;
}
.section-quote {
  text-align: center;
}
.feature-row {
  width: 100%;
  margin-top: 30px;
  height: auto;
  display: inline-block;
}
.languajes-and-tech {
  margin-top: 10px;
  width: 70%;
  margin: 0 auto;
}
.feature {
  width: 30%;
  min-height: 200px;
  text-transform: uppercase;
  float: left;
}
.feature img {
  width: 200px;
  height: 200px;
}
.feature-desc {
  text-align: left;
  width: 70%;
  float: right;
}
.feature-desc p {
  font-size: 0.7em;
  line-height: 2em;
  margin-top: 20px;
}
.feature img {
  width: 200px;
  height: 200px;
}
.feature-name {
  font-size: 1em;
  top: 35%;
}
#text {
  font-size: 1.6em;
}
.typed-cursor {
  display: none;
}

.primary {
  background-color: #ffffff;
}
.videogamer {
  position: absolute;
  left: 90%;
  bottom: -25%;
  z-index: 0;
}
.videogamer > img {
  z-index: 9;
  width: 100px;
}
.fixed-top {
  position: fixed;
  top: 0;
  width: 100px;
}
.fixed-top-left {
  position: fixed;
  top: 0;
  width: 100px;
  left: 0;
  right: 100%;
}
.fade-out {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.fade-in {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.move-left {
  animation-name: moveLeftPicture;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveLeftPicture {
  from {
    width: 10%;
  }
  to {
    width: 15%;
  }
}
.menu-list {
  list-style: none;
  height: 25px;
}
.menu-list li {
  float: left;
}
.menu-photo {
  display: none;
  margin-right: 12px;
  width: 50px;
  height: 50px;
  display: inline;
}
.menu-fixed {
  background-color: #fafbfc;
  z-index: 1;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}
.menu-fixed-left {
  animation-name: moveLeftPicture;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  top: 10px;
}
.menu-fixed-left li {
  background-color: #fafbfc !important;
  width: 100%;
}
.menu-fixed li {
  line-height: 50px;
}
.menu-item {
  margin-right: 10px;
}
.octo {
  top: 50px;
}
.bg-c {
  background-color: #953dac;
  color: white !important;
}
.bg-c * {
  color: white !important;
}
.bg-j {
  background-color: #f8dc3d;
  color: white !important;
}
.bg-j * {
  color: black !important;
}
