/*GENERAL ELEMENTS*/
* {
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: #030304;
}

canvas {
  position: absolute;
  top: 0;
  opacity: 0.5;
  z-index: 0;
  max-width: 100%;
}
/*HEADER*/
.hero-container {
  z-index: 999999;
  height: 100vh;
  position: relative;
  //background: url('/images/bg/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  .hero-bg {
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -10;
    img {
      width: 100%;
      height: auto;
    }
  }
  .menu {
    left: -100px;
    animation: leftToRight 1.2s forwards 0.5s linear;
    position: absolute;
    top: 35%;
    height: auto;

    ul {
      padding-left: 15px;
      padding-top: 10px;
      padding-right: 20px;

      li {
        margin-bottom: 10px;
        list-style-type: none;

        a {
          text-decoration: none;

          img {
            width: 40px;
            height: 40px;
            transform: rotateY(180deg);
          }

          span {
            display: none;
          }
        }
      }

      li:hover {
        a {
          span {
            display: inline;
            color: white;
          }
        }
      }
    }
  }

  .img-container {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    left: 50%;
    background-color: rgba(255, 255, 255, 0.541);

    width: 20%;
    margin: 0 auto;
    text-align: center;
    img {
      width: 60%;
    }
  }
  .alternative {
    color: #fad925;
    margin-right: 10px;
    border-radius: 0 !important;
    font-family: 'Anton', sans-serif;
    margin-top: 10px;
    letter-spacing: 5px;
  }
  .teamtxt {
    letter-spacing: 5px;
  }

  .text-container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    * > {
      color: white;
    }

    h1 {
      color: white;
    }

    h3 {
      margin-top: 30px;

      color: white;
      text-align: center;
      letter-spacing: 5px;

      span {
        color: #fad925;
      }
    }

    p {
      margin-top: 20px;
      color: white;
      letter-spacing: 2px;
      text-align: center;
    }
    img {
      width: 20%;
    }
  }
}
/*helpers */
.left-to-right {
  animation: outToRight 1.2s forwards 0.5s linear;
}
.grande {
  font-size: 1.5em;
}
.anton {
  font-family: 'Anton', sans-serif;
  font-size: 1.2em;
}
.set-relative {
  position: relative !important;
}
.color-lion {
  color: #fad925 !important;
}
.img-responsive {
  width: 100%;
}
.spacing {
  letter-spacing: 2px;
}
.color-white {
  color: white !important;
}

.separator {
  height: 1px;
  background-color: #fad925 !important;
}
.btn-lion {
  background-color: transparent;
  border: 1px solid #fad925;
  color: white;
}
.row-custom {
  margin-top: 20px;
}
.instagram-btn {
  border: 1px solid #bd2c8e;
  img {
    width: 32px;
  }
  span {
    padding-left: 10px;
    color: white;
  }
}
.grayscale {
  filter: grayscale(15);
}
.blur {
  filter: blur(3px);
}
.scale-0 {
  transform: scale(0);
}
.scale-1 {
  transform: scale(1.1);
  img {
    transform: scale(1.2);
    filter: blur(0);
  }
}
.send-left {
  position: relative;
  left: 0%;
}
/*SERVICES SECTION*/
.services {
  width: 75%;
  margin: 0 auto;
}
.service {
  text-align: center;
  .service-info {
    background: #333439;
    padding: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }

  img {
    width: 70%;
    max-height: 345px;
    min-height: 345px;
  }
}
/*COACHES SECTION*/
.coach {
  max-height: 650px;
  h3 {
    color: white;
  }
  .img-container-hover {
    overflow: hidden;
    transition: all 1s;
    h3 {
      opacity: 0;
      position: absolute;
      z-index: 9;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 500ms ease-in-out;
      border-bottom: 0px solid white;
    }
    p {
      opacity: 0;
      position: absolute;
      z-index: 9;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 500ms ease-in-out;
      border-bottom: 0px solid white;
    }
    img {
      transform: scale(1);
      cursor: pointer;
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      transition: all 1s ease-in-out;
    }
  }
}

.coach:hover {
  .img-container-hover {
    background-color: white;
    h3 {
      background-color: #0000004d;
      padding: 5px;
      color: #fad925;
      opacity: 1;
    }
    p {
      background-color: #0000004d;
      padding: 5px;
      color: white;
      opacity: 1;
    }
  }
  img {
    transform: scale(1.2);
    // filter: blur(2px);
  }
}

/*MODAL SECTION*/
.coach-details {
  width: 100%;
  height: 0;
  transition: all 1s;
  background: black;
  z-index: 9999999;
  position: fixed;
  top: 0;
  .info-container {
    .bios {
      overflow: hidden;
      height: 100%;
      opacity: 0;
      width: 60%;
      position: absolute;
      top: 50%;
      /* height: 100vh; */
      font-size: 1.5em;
      display: block;
      transform: translate(0, -50%);
      transition: all 1s;
      z-index: 0;
      //Imagen del coach
      .bios-bg {
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: initial;
        transition: all 1s;
        opacity: 0;
      }
      //contenido de texto
      .bios-info {
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 12%;
        padding: 40px;
        width: 75%;
        background: #00000047;
        transition: all 1s;
        h2 {
          color: white;
          border-bottom: 1px solid #fad925;
          opacity: 0;
          transition: all 1s;
        }
        p {
          color: white;
          text-align: justify;
          font-size: 1.5rem;
          opacity: 0;
          transition: all 1s;
        }
      }
    }
    .image {
      width: 40%;
      margin: 0 auto;
      text-align: center;
      display: none;
      transition: right 1s 4s;
      video {
        width: 100%;
        height: 100%;
        padding: 25px;
        background: url(/images/bg/bg2.jpg);

        background-repeat: no-repeat;
        background-size: cover;
        background-color: white;
      }
      position: relative;
      right: -100%;
    }
  }
  .close-elm {
    display: none;
    position: absolute;
    left: 40px;
    top: 20px;
    z-index: 9999;
  }
}
// MOSTRAR MODAL
.show-modal {
  height: 100%;
  .info-container {
    .bios {
      opacity: 1;
      .bios-bg {
        opacity: 1;
      }
      .bios-info {
        opacity: 1;
        h2 {
          display: block;
          opacity: 1;
        }
        p {
          display: block;
          opacity: 1;
        }
      }
    }

    .image {
      display: block;
      float: right;
      overflow: hidden;
      height: 100vh;
      background-size: cover;
      animation: rightToLeft;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      right: 0;
    }
  }

  .close-elm {
    display: block;
  }
}
.pichon {
  background: url(/images/pichonbg.jpg);
}
.anita {
  background: url(/images/anabg.jpg);
}
.marco {
  background: url(/images/marcobg.jpg);
  background-position: center !important;
}
.victor {
  background: url(/images/victorbg.jpg);
  background-position: center !important;
}

/*SERVICE MODAL*/

.service-modal {
  overflow: hidden;
  width: 100%;
  position: fixed;
  height: 20vh;
  left: -100%;
  transition: all 1s;
  top: 0;
  background: black;
  z-index: 9999999;
  .close-btn {
    position: absolute;
    left: 40px;
    top: 10px;
  }
  .bg {
    background: url(/images/bg/chaviza.jpg);
    -webkit-filter: grayscale(2);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(2);
    height: 100%;
    position: absolute;
    opacity: 0.3;
    top: 0;
    left: 0;
    /* height: 100vh; */
    width: 100%;
    z-index: -10;
  }
  .service-info {
    width: 70%;
    opacity: 0;
    transition: all 1s;
    padding: 40px;
    margin-top: 20%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    p {
      color: white;
      text-align: justify;
      opacity: 0;
      transition: all 1s;
    }
    h4 {
      color: white;
      text-align: justify;
      opacity: 0;
      transition: all 1s;
    }
  }
}
.service-modal-show {
  left: 0 !important;
  width: 100%;
  .service-info {
    opacity: 1;
    width: 75%;
    p {
      opacity: 1;
    }
    h4 {
      opacity: 1;
    }
  }
}
.service-modal-height {
  height: 100vh;
}
/*END SECTION*/
.end {
  width: 50% !important;
  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 30px;
  font-size: 1.2em;
}

/*ANIMATIONS*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    left: -100px;
  }

  100% {
    left: 0px;
  }
}
@keyframes rightToLeft {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}
@keyframes outToRight {
  0% {
    right: 0% !important;
  }

  100% {
    right: -100% !important;
  }
}
@keyframes bounceIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
