body {
  font-family: 'Encode Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #45494c;
}

:root {
  --rojo: #ab0033!important;
  --rojo-o:#761830!important;
  --beige: #ddc9a3!important;
  --dorado: #bc955c!important;
  --gris: #54565a!important;
  --gris-oscuro:#313234!important;
  --body:#45494c!important;
  --font: 'Encode Sans', sans-serif;
  --vino: #651128!important;
  --bg-gris:#f8f9fa;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a {
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: none;
}

.clean-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clean-list li {
  display: inline-block;
}

.relative{position: relative;}
.absolute{position: absolute;}


/*header*/
#row-cabecera {
  padding: 10px 0;
}
#row-cabecera .logo-home img {
  max-height: 60px;
}

#form-aptra {
  font-weight: 300;
}

#form-aptra .titulo-page{
  color:var(--rojo);
}

#form-aptra .subtitulo-page{
  font-weight: 400;
}

#form-aptra .accordion-item{
  border: 0;
}

#form-aptra .accordion-button,
#form-aptra .accordion-button:not(.collapsed) {
  color:var(--body);
  background-color: var(--bg-gris);
  box-shadow: inherit;
  padding: .5rem 1.25rem .5rem 6.25rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  position: relative;
  font-weight: 500;
}

#form-aptra .accordion-button:not(.collapsed)::after{
  background-image:url('./arrow.svg');
}

#form-aptra .bg-paso{
  background-color: var(--rojo);
  color: #fff;
  padding: 7px 18px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  font-size: .7rem;
}

#form-aptra .bg-paso span{
  font-size: 2rem;
}

.accordion-body span ,label span{
  color: red;
  font-weight: 500;
}

input.form-control{
  font-weight: 500;
}

#form-aptra .list-group .list-group-item{
 border:0;
 border-radius: 0;
}

.list-group-light{
  background-color: #ecedee;
}

.list-group-dark{
  background-color: #f8f9fa;
}

.formato-ine{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 200px;
}

.formato-ine:before {
  content: "";
  position: absolute;
  border: 10px dashed;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}

.img-ine{
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ine-frente, #ine-reverso {
  display: none;
}

.img-ine:hover{
  opacity: .3;
}

.ine-frente{
  background-image: url('./FRENTE_INE.png');
}

.ine-reverso{
  background-image: url('./REVERSO_INE.png');
}

.ine-frente,.ine-reverso{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.conte-titulos h6{
  font-weight: 300;
}

.conte-titulos h6 b{
  font-weight: 900;
  color: var(--rojo);
}

.formato-foto{
  height: 200px;
  padding: 10px;
  background-color:#ecedee;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.formato-foto:hover.formato-foto i{
    opacity: .3;
    color: var(--rojo);
}

.formato-foto i{
  font-size: 4.5rem;
}

.enviar-btn button{
  background-color: var(--rojo);
  color: #fff;
}

.enviar-btn button:hover{
  color: #fff;
}

.modal{
  font-weight: 400;
}

.tomar-foto .list-group-item{
  border: 0;
  padding: 0 1rem;
}

.tomar-foto .mensaje{
  font-weight: 900;
}

.tomar-foto button{
  background-color: var(--rojo);
}

.modal-content .modal-header{
  background-color: #ecedee;
  padding: 0.5rem 1rem;
}
.modal-content .modal-header h6{
  font-weight: 1.2rem;
}
.modal-content .btns-previous button{
  background-color: var(--rojo);
  color: #fff;
}
#previousFoto i{
  font-size: 2.2rem;
}

.subir-foto{
  height: 150px;
  width: 300px;
  padding: 10px;
  background-color:#ecedee;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
}

.subir-foto:before {
  content: "";
  position: absolute;
  border: 10px dashed;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
}

.img-upfoto {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#up-foto {
  display: none;
}

.up-foto {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-foto:before{
  content: "\e09a";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 3.5rem
}

/*ejemplo imagenes borrar*/
.tomar-foto img, .previous-foto img{
  max-height: 200px;
}
